@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');

/*Globals*/
h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 500;
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #002865;
}

ul {
  padding-left: 0;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  margin-bottom: .75em;
}

.label,
.legend {
  text-transform: uppercase;
  color: #666;
  font-size: .75rem;
  font-weight: 500;
}

/*App header*/
.app-banner {
  padding: 1.5em 0 2em;
  position: relative;
  overflow: hidden;
  display: table;
}

.app-banner__logo {
  height: 80px;
}

.app-banner__title {
  display: table-cell;
  vertical-align: middle;
  padding-top: 15px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .1em;
  font-weight: 700;
  color: rgb(33, 33, 33);
}

/*Search container*/
.search--body {
  padding: 1.5em;
  margin-bottom: 2em;
}

.search--header {
  background-color: #002865 !important;
  padding: 1em 1.5em;
  overflow: hidden;
  text-align: center;
}

.search--input {
  width: 100% !important;
  box-sizing: border-box;
  margin-bottom: 1.25em;
}

.search--input input {
  padding-left: 30px !important;
}

.search--input-wrapper {
  /*position: relative;*/
}

.search--submit {
  margin-top: 1.5em;
}

.search--icon {
  position: absolute;
  padding-top: 10px;
}

.search--header h2 {
  color: #fff;
  font-weight: normal;
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

/*Search results*/

.search-results__container {
  margin-top: 0;
}

.search-reulsts__no-results {
  text-align: center;
}

.search-reulsts__no-results--image {
  width: 200px;
  margin-bottom: 1em;
}

.search-results__number {
  color: #485265;
  font-size: 1.2rem;
  margin-bottom: 2em;
}

.search-results__number strong {
  color: #000;
  font-weight: 700;
}

.search-result--item {
  position: relative;
  list-style: none;
  padding-bottom: 1.65em;
  margin-bottom: 1.65em;
  border-bottom: 1px solid #eee;
}

.search-result--item__body {
  margin-left: 90px;
}

.search-result--item__avatar {
  position: absolute;
  height: 64px;
  width: 64px;
  border-radius: 50px;
}

.search-result--stats li {
  display: inline;
  margin-right: 1em;
  color: #b2b2b2;
  font-size: .95rem;
}

.search-result--stats li svg {
  margin-bottom: 1px;
  margin-right: 2px;
}

.search-result--stats__text {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 600px) {
  .search-results__container {
    padding-left: 2em;
  }
  .search-results__number {
    padding-left: 1.75em;
  }
}
